.App {
  position: relative;
  right: 0;
  transition: all 0.6s ease-in-out;
}

.App.slidemenu-active {
  right: 35vw;
}

body {
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;
}
.videoTag {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.top-section {
  position: relative;
  display: flex;
  min-height: 480px;
}

.top-section-content {
  position: absolute;
  top: 0px;
  width: 100%;
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6954131994594712) 11%,
    rgba(0, 0, 0, 0) 100%
  );
}

.top-section-content h1 {
  font-size: 60px;
  text-align: center;
  font-weight: bolder;
}

.top-nav-bar {
  position: absolute;
  top: 0px;
  padding-top: 20px;
  color: white;
  display: flex;
  width: 100%;
}

.top-nav-bar div {
  flex: 1;
  display: flex;
  justify-content: center;
}

.top-nav-bar ul li {
  list-style-type: none;
  font-weight: 500;
  margin-right: 25px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.top-nav-bar ul li i {
  margin-right: 10px;
}

.lower-icon {
  padding-top: 7px;
}

.top-nav-bar ul li:hover {
  cursor: pointer;
  color: #d6ba93;
}

.top-nav-bar ul {
  display: flex;
  align-items: center;
}

.blue {
  color: #004170;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.golden {
  /* color: #d6ba93; */
  /* color: #a6845e; */
  color: #b69773;
}

.bg-icon {
  font-size: 20px;
}

#sliding-menu {
  position: absolute;
  top: 0px;
  width: 35vw;
  right: -35vw;
  transition: all 0.5s ease;
  height: 100%;
}

.no-vertical-scroll {
  overflow-y: hidden;
}

.sliding-menu-top {
  background: rgb(201,178,150);
background: linear-gradient(165deg, rgba(201,178,150,1) 30%, rgba(151,116,81,1) 100%);
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00244b;
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
  font-weight: bold;
}

.sliding-menu-content {
  background: rgb(0,62,106);
background: linear-gradient(165deg, rgba(0,62,106,1) 0%, rgba(0,31,67,1) 100%);
  
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliding-menu-content ul {
  padding: 0px;
  margin: 0px;
}

.sliding-menu-content ul li {
  list-style-type: none;
  color: #d6ba93;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid white;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sliding-menu-content ul li:hover {
  color: white;
}

.sliding-menu-content ul li:last-child {
  border: none;
}

.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}

.vertical-slider {
  display: flex;
  height: 600px;
  background-color: white;
}

.vertical-slider-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 600px;
  min-height: 600px;
  overflow: hidden;
}

.vertical-slider-content-item {
  display: flex;
  height: 600px;
  min-height: 600px;
}

.vertical-slider-img {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.vertical-slider-img img {
  height: 80%;
  z-index: 2;
}

/* .slider-img:before {
  content: '';
  display: block;
  position: absolute;
  height: 70%;
  bottom: 20px;
  z-index: 1;
  width: 90%;
  background-color: #f1eae3;
} */

.vertical-slider-text {
  flex: 1;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.vertical-slider-controls {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vertical-slider-text h1 span {
  font-size: 40px;
}

.vertical-slider-controls-item {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  background-color: #c6ae90;
  margin-bottom: 20px;
}

.vertical-slider-controls-item.active:after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  left: -5px;
  top: -6px;
  border: 1px solid #c6ae90;
  border-radius: 20px;
  padding: 15px;
}

.vertical-slider-text-btn {
  font-family: "Sarabun", sans-serif;
  letter-spacing: 2px;
  padding: 10px 10px 10px 25px;
  border: 2px solid #c6ae90;
  border-top-left-radius: 25px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  width: 300px;
  color: #c6ae90;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.vertical-slider-text-btn i {
  background-color: #f1ece7;
  padding: 10px;
  transition: all 0.5s ease-in-out;
  border-radius: 30px;
}

.vertical-slider-text-btn:hover {
  cursor: pointer;
  background-color: #c6ae90;
  color: white;
}

.vertical-slider-text-btn:hover i {
  background-color: #00244b;
}

#horizontalSlider {
  background-color: #f9f5f2;
}

.horizontal-slider-padding {
  padding-top: 20px;
}

.container-fluid {
  padding: 7% 15%;
}

.metalic-blue {
  color: #00305e;
}

.metalic-golden {
  color: #af8e6b;
}

.horizontal-slider-title {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-size: 70px;
  font-weight: bold;
}

.horizontal-slider-title span {
  font-size: 40px;
  font-weight: bold;
}
@media screen and (max-width: 400px ){
  html {
    overflow-y: hidden;
  }

  body {
    max-height: 100%;
    position: relative;
  }
  
}
@media screen and (max-width: 1111px){
  .top-nav-bar ul li {
    text-align: center;
  }
}

@media screen and (max-width: 1030px) {

  .top-nav-bar .left-section {
    display: none;
  }
  .arb {
    display: none;
  }
  .search-icon {
    display: none;
  }
  .top-section-content h1 {
    font-size: 6vw;
    text-align: center;
  }

  .sliding-menu-top {
    font-size: 4vw;
  }
  .sliding-menu-content ul li {
    font-size: 2vw;
  }
  .vertical-slider {
    display: flex;
    height: 6vh;
    background-color: white;
  }
  .vertical-slider-img {
    display: none;
  }

  .vertical-slider-text h1 {
    font-size: 6vw;
  }
  .vertical-slider-text h1 span {
    font-size: 6vw;
  }
  .vertical-slider-text p {
    font-size: 2vw;
  }

  .vertical-slider {
    display: flex;
    height: 600px;
    background-color: white;
  }
  .vertical-slider-text-btn {
    letter-spacing: 2px;
    width: 30vw;
    font-size: 2vw;
  }

  .horizontal-slider-title {
    font-size: 8vw;
  }

  .horizontal-slider-title span {
    font-size: 5vw;
  }
}
